nav {
  padding: 2rem;
  display: flex;
  justify-content: space-between;

  img {
    height: 2.5rem;
  }
  menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    color: white;

    :first-child {
      margin-right: 2rem;
    }
  }
  .right {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: white;
    img {
      border-radius: 0.3rem;
      object-fit: cover;
      height: 2.5rem;
      cursor: pointer;
    }
  }
}
